body{
    font-family: arial;
}
a{
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6{
    font-family: arial;
}
ol,ul,li{
    list-style: none;
}
ul li{
    margin: 0px;
    padding: 0px;
}
#header-surround{
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
    height: 70px;
}
#header-surround #header span.logo{
    float: left;
    font-size: 20px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-family: arial;

}
#header-surround #header article#headerright{
    float: right;
}
#navigation{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #96007C;
    
    border-color: #96007C #96007C #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   
    border-radius: 0px;
    padding: 0px;
}
article nav ul{
    margin: 0px;
    padding: 0px;
}
article nav ul li{
    float: left;
    margin: 0px;
    padding: 0px;
}
article nav ul li span.badge{

    background: #9D261D;
    float: right;
}
article nav ul li a{
    float: left;
    padding: 10px 11px;
    color: #fff;
    margin-right: 10px;
    font-weight: bold;

}
article nav ul li a:hover{
    color: #f6f6f6;
    text-decoration: none;
}
article nav ul li a img{
    margin-right: 5px;
}
article nav ul li ul.sub{
    position: absolute;
    display: none;
    width: 160px;
    background-color: #96007C;
    margin: 39px 0 0 17px;
    z-index: 999;
}
article nav ul li ul.sub li a{
    padding: 8px 0px;
    width: 160px;
    text-indent: 6px;
}
article nav ul li ul.sub li a:hover{
    background: #333333;
    text-decoration: none;
}
#main #main-content h1{
    font-size: 23px;
}
#main #main-content p{
    font-size: 20px;
}
#main #main-content ul.shortcut-list{
    margin: 0px;
    padding: 0px;
}
#main #main-content ul.shortcut-list li{
    float: left;
    width: 100px;
    padding: 20px;
    /*    background: #48AECC;*/
    background: #f4f4f4;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    text-align: center;
    height: 100px;
}
#main #main-content ul.shortcut-list li a{
    color: #333;
    font-size: 16px;
}
#main #main-content ul.shortcut-list li a:hover{
    text-decoration: none;
}
#main #main-content ul.shortcut-list li i{
    font-size: 60px;
    color: #333;
}
.container{
    margin: 0 auto;
    width: 980px;
}
#main #main-content table{
    font-size: 13px;
}
#main #main-content table tr td p{
    font-size: 13px;
}

footer{
    float: left;
    width: 100%;
    padding-bottom: 0px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #96007C;
    
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    
}
footer a.top{
    float: right;
    background: none;
    border: 0;
}

tr.odd{
    height: 25px;
    background: #F7F7F9;
}
tr.even{
    height: 25px;
    background: #D9EDF7;
}
tr.odd td,tr.even td{
    padding: 5px;
}

ul.newsletter{
    margin: 0px;
    padding: 0px
}
ul.newsletter li{
    float: left;
    margin-right: 5px;
}

#main #main-content form#sitecontent p{
    color: red;
}

#faqs h5{
    cursor: pointer;

}
#faqs h5.active{
    color: #D74646;
}

/*  styles for the unit rater
---------------------------------------------------------
--------------------------------------------------------- */
#unit_long{
    font-size: 11px;
}
.ratingblock {
    display:block;
    border-bottom:1px solid #999;
    padding-bottom:8px;
    margin-bottom:8px;
}

.loading {
    height: 30px;
    background: url('../images/working.gif') 50% 50% no-repeat;
}

.unit-rating { /* the UL */
    list-style:none;
    margin: 0px;
    padding:0px;
    height: 30px;
    position: relative;
    background: url('../../images/starrating.png') top left repeat-x;		
}

.unit-rating li{
    text-indent: -90000px;
    padding:0px;
    margin:0px;
    /*\*/
    float: left;
    /* */
}

.unit-rating li a {
    outline: none;
    display:block;
    width:30px;
    height: 30px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0px;
}

.unit-rating li a:hover{
    background: url('../../images/starrating.png') left center;
    z-index: 2;
    left: 0px;
}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:30px;}
.unit-rating a.r2-unit{left:30px;}
.unit-rating a.r2-unit:hover{width: 60px;}
.unit-rating a.r3-unit{left: 60px;}
.unit-rating a.r3-unit:hover{width: 90px;}
.unit-rating a.r4-unit{left: 90px;}	
.unit-rating a.r4-unit:hover{width: 120px;}
.unit-rating a.r5-unit{left: 120px;}
.unit-rating a.r5-unit:hover{width: 150px;}
.unit-rating a.r6-unit{left: 150px;}
.unit-rating a.r6-unit:hover{width: 180px;}
.unit-rating a.r7-unit{left: 180px;}
.unit-rating a.r7-unit:hover{width: 210px;}
.unit-rating a.r8-unit{left: 210px;}
.unit-rating a.r8-unit:hover{width: 240px;}
.unit-rating a.r9-unit{left: 240px;}
.unit-rating a.r9-unit:hover{width: 270px;}
.unit-rating a.r10-unit{left: 270px;}
.unit-rating a.r10-unit:hover{width: 300px;}

.unit-rating li.current-rating {
    background: url('../../images/starrating.png') left bottom;
    position: absolute;
    height: 28px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}

.voted {color:#999;}
.thanks {color:#36AA3D;}
.static {color:#5D3126;}

textArea{
    width: 880px;
    height: 220px;
}
.hide{
    display: none;
}
.show{
    display: block;
}